# Chapter 04. 반복문

In [1]:
# ex 4-1
for x in range(5):
    print('안녕하세요.', x)

안녕하세요. 0
안녕하세요. 1
안녕하세요. 2
안녕하세요. 3
안녕하세요. 4

In [2]:
# ex 4-2
x = 0
while x < 5:
    print('안녕하세요.', x)
    x += 1

안녕하세요. 0
안녕하세요. 1
안녕하세요. 2
안녕하세요. 3
안녕하세요. 4

In [4]:
for i in range(5, 0, -1):
    print(i)

5
4
3
2
1

In [7]:
# ex 4-3
# sum = 1 + 2 + ... + 10
sum = 0
for i in range(1, 123456):
    sum += i
print(sum)

7620630240

In [8]:
# ex 4-4
for i in range(10) :
    print(i, end =' ')
print()

for i in range(1, 11) :
    print(i, end =' ')
print()

for i in range(1, 10, 2) :
    print(i, end =' ')
print()

for i in range(20, 0, -2) :
    print(i, end =' ')

0 1 2 3 4 5 6 7 8 9
1 2 3 4 5 6 7 8 9 10
1 3 5 7 9
20 18 16 14 12 10 8 6 4 2

In [9]:
# ex 4-5
sum = 0
for i in range(1, 101) :
    if i % 3 == 0 :
        print('%d' % i, end = ' ')
        sum += i

print('\n', '-' * 50)
print('1~100에서 3의 배수의 합계 : %d' % sum)

3 6 9 12 15 18 21 24 27 30 33 36 39 42 45 48 51 54 57 60 63 66 69 72 75 78 81 84 87 90 93 96 99
 --------------------------------------------------
1~100에서 3의 배수의 합계 : 1683

In [10]:
# ex 4-6
word = input('영어 문장을 입력하세요> ')

for c in word:
    print(c)

영어 문장을 입력하세요> I love you.
I

l
o
v
e

y
o
u
.

In [11]:
# ex 4-7
print('-' * 30) 
print('    섭씨     화씨')
print('-' * 30) 

for c in range(-20, 31, 5) : 
    f = c * 9.0/ 5.0 + 32.0 
    print('%8d  %6.1f' % (c, f))   
     
print('-' * 30)

------------------------------
    섭씨     화씨
------------------------------
     -20    -4.0
     -15     5.0
     -10    14.0
      -5    23.0
       0    32.0
       5    41.0
      10    50.0
      15    59.0
      20    68.0
      25    77.0
      30    86.0
------------------------------

In [12]:
# Q 4-1. 5의 배수가 아닌 수의 합계 구하기
n1 = int(input('시작 수를 입력하세요 : ')) 
n2 = int(input('끝 수를 입력하세요 : '))

sum = 0 
for i in range(n1, n2+1) :   
    if i % 5 !=  0 :        
         sum += i

print('-' * 50) 
print('%d에서 %d까지 5의 배수가 아닌 수의 합계 : %d' % (n1, n2, sum))

시작 수를 입력하세요 : 1
끝 수를 입력하세요 : 23
--------------------------------------------------
1에서 23까지 5의 배수가 아닌 수의 합계 : 226

In [14]:
# Q 4-2. 전화번호에서 하이픈(-) 삭제하기
number = input('하이픈(-)을 포함한 휴대폰 번호를 입력하세요: ') 
for x in number :    
    if x != '-' :        
         print('%s' % x, end='')

하이픈(-)을 포함한 휴대폰 번호를 입력하세요: 010-2345-7890
01023457890

In [16]:
# Q 4-3. 전화번호에 하이픈(-) 추가하기
phone = input('하이픈(-)을 뺀 11자리의 휴대폰 번호를 입력하세요: ') 
number = ''; 
for i in range(0, len(phone)) :   
    if i == 2 :        
        number = number + (phone[2]+'-')    
    elif i == 6 :
        number = number + (phone[6]+'-')    
    else :        
        number = number + phone[i]
print(number)

하이픈(-)을 뺀 11자리의 휴대폰 번호를 입력하세요: 01034567890
010-3456-7890

In [17]:
# Q 4-4. 길이 단위 환산표 만들기
print('-' * 50) 
print('센티미터(cm) 인치(inch)   피트(ft)    야드(yd)') 
print('-' * 50) 

for cm in range(10, 201, 10) :    
     inch = cm * 0.393701    
     ft = cm * 0.032808
     yd = cm * 0.010936    
     print('%8d  %10.1f %10.1f  %10.1f' % (cm, inch, ft, yd))       

print('-' * 50)

--------------------------------------------------
센티미터(cm) 인치(inch)   피트(ft)    야드(yd)
--------------------------------------------------
      10         3.9        0.3         0.1
      20         7.9        0.7         0.2
      30        11.8        1.0         0.3
      40        15.7        1.3         0.4
      50        19.7        1.6         0.5
      60        23.6        2.0         0.7
      70        27.6        2.3         0.8
      80        31.5        2.6         0.9
      90        35.4        3.0         1.0
     100        39.4        3.3         1.1
     110        43.3        3.6         1.2
     120        47.2        3.9         1.3
     130        51.2        4.3         1.4
     140        55.1        4.6         1.5
     150        59.1        4.9         1.6
     160        63.0        5.2         1.7
     170        66.9        5.6         1.9
     180        70.9        5.9         2.0
     190        74.8        6.2         2.1
     200        78.7        6.6         2.2
--------------------------------------------------

In [18]:
# Q 4-5. 무게 단위 환산표 만들기
print('-' * 40) 
print('킬로그램(kg) 파운드(lb)   온스(oz)') 
print('-' * 40) 

for kg in range(10, 101, 5) :     
    lb = kg * 2.204623    
    oz = kg * 35.273962    
    print('%8d  %10.1f %10.1f' % (kg, lb, oz))        

print('-' * 40)

----------------------------------------
킬로그램(kg) 파운드(lb)   온스(oz)
----------------------------------------
      10        22.0      352.7
      15        33.1      529.1
      20        44.1      705.5
      25        55.1      881.8
      30        66.1     1058.2
      35        77.2     1234.6
      40        88.2     1411.0
      45        99.2     1587.3
      50       110.2     1763.7
      55       121.3     1940.1
      60       132.3     2116.4
      65       143.3     2292.8
      70       154.3     2469.2
      75       165.3     2645.5
      80       176.4     2821.9
      85       187.4     2998.3
      90       198.4     3174.7
      95       209.4     3351.0
     100       220.5     3527.4
----------------------------------------

In [19]:
# Q 4-6. 홀수 개수 세기
number = input('숫자를 입력하세요 : ') 
total = 0 

for a in number :    
    a = int(a)    
    if a % 2 == 1 :       
          total += 1 

print('입력된 숫자 중 홀수의 개수 : %d개' % total)

숫자를 입력하세요 : 13456890
입력된 숫자 중 홀수의 개수 : 4개

In [22]:
# ex 4-9 구구단
for i in range(2, 10):
    print('-' * 50)
    for k in range(1, 10):
        print('%d x %d = %2d' % (i, k, i*k))
    print('-' * 50)

--------------------------------------------------
2 x 1 =  2
2 x 2 =  4
2 x 3 =  6
2 x 4 =  8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
--------------------------------------------------
--------------------------------------------------
3 x 1 =  3
3 x 2 =  6
3 x 3 =  9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
--------------------------------------------------
--------------------------------------------------
4 x 1 =  4
4 x 2 =  8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
--------------------------------------------------
--------------------------------------------------
5 x 1 =  5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
--------------------------------------------------
--------------------------------------------------
6 x 1 =  6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
--------------------------------------------------
--------------------------------------------------
7 x 1 =  7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
--------------------------------------------------
--------------------------------------------------
8 x 1 =  8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
--------------------------------------------------
--------------------------------------------------
9 x 1 =  9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
--------------------------------------------------

In [23]:
# Q 4-7. 별표(*)로 특정 형태 만들기 1
for i in range(1, 6):
    print('*' * i)

*
**
***
****
*****

In [24]:
for i in range(1, 6):
    for k in range(1, i+1):
        print('*', end='')
    print()

*
**
***
****
*****

In [25]:
# Q 4-8. 별표(*)로 특정 형태 만들기 2
for i in range(1, 6):
    for s in range(1, 5-i+1):
        print(' ', end='')
    for k in range(1, i+1):
        print('*', end='')
    print()

    *
   **
  ***
 ****
*****

In [26]:
for i in range(1, 6):
    for s in range(5, i, -1):
        print(' ', end='')
    for k in range(1, i+1):
        print('*', end='')
    print()

    *
   **
  ***
 ****
*****

In [31]:
# 합이 1000에 가장 가까운 경우는 1에서부터 얼마까지 더한 경우인가?
sum = 0
count = 1
while sum < 1000:
    sum += count
    count += 1
print(sum-count, count)

989 46

In [32]:
sum = 0
count = 1
while True:
    if sum > 1000:
        break
    sum += count
    count += 1
print(sum-count, count)

989 46

In [34]:
# continue
for i in range(10):
    if i % 2 == 0:
        continue
    print(i, end=' ')

1 3 5 7 9

In [35]:
# 중첩에서 break
for i in range(1, 6):
    print('i =', i, ':', end=' ')
    for k in range(5):
        if k == i:
            break;
        print(k, end=' ')
    print()

i = 1 : 0
i = 2 : 0 1
i = 3 : 0 1 2
i = 4 : 0 1 2 3
i = 5 : 0 1 2 3 4