# Chapter 06. Tuple과 Dictionary

## Tuple

In [1]:
# ex 6-1
menu = ('coffee', 'milk', 'tea', 'cider')

print(menu)
print(menu[0])
print(menu[2])
print(menu[0:3])

menu[1] = 'cola'

('coffee', 'milk', 'tea', 'cider')
coffee
tea
('coffee', 'milk', 'tea')

TypeError: 'tuple' object does not support item assignment

In [5]:
# ex 6-2
tuple1 = ('apple', 'banana', 'cherry')
tuple2 = ('orange', 'melon', 'strawberry')
tuple3 = tuple1 + tuple2
print(tuple3)
print(len(tuple3))
for x in tuple1 :
    print(x)

del tuple1

('apple', 'banana', 'cherry', 'orange', 'melon', 'strawberry')
6
apple
banana
cherry

In [7]:
# tuple 만들기
# odds = (1, 3, 5, 7, 9)
odds = tuple(range(1, 10, 2))
print(odds)

(1, 3, 5, 7, 9)

In [9]:
# 표현식 (1, 4, 9, 16, 25)
squares = tuple(i * i for i in range(1, 6))
print(squares)

(1, 4, 9, 16, 25)

In [10]:
# 표현식 (1, 9, 25, 49, 81)
odd_squares = tuple(i * i for i in range(1, 10) if i % 2 == 1)
print(odd_squares)

(1, 9, 25, 49, 81)

## Sequence 객체

In [12]:
# 특정 값이 있는지 확인하기
a = [0, 10, 20, 30, 40, 50, 60, 70, 80, 90]
print(30 in a)
print(100 in a)

True
False

In [14]:
print(100 not in a)
print(30 not in a)

True
False

In [15]:
43 in (38, 76, 43, 62, 19)

True

In [16]:
1 in range(10)

True

In [17]:
'P' in 'Hello, Python'

True

In [18]:
# 시퀀스 객체 연결하기
a = [0, 10, 20, 30]
b = [9, 8, 7, 6]
print(a + b)

[0, 10, 20, 30, 9, 8, 7, 6]

In [20]:
print((1, 2, 3) + (10, 20, 30))
print('Hello' + ' ' + 'World!')

(1, 2, 3, 10, 20, 30)
Hello World!

In [21]:
range(1, 10) + range(10, 20)

TypeError: unsupported operand type(s) for +: 'range' and 'range'

In [22]:
tuple(range(1, 10)) + tuple(range(10, 20))

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19)

In [23]:
# 문자열과 숫자 연결
'Python' + 3

TypeError: can only concatenate str (not "int") to str

In [24]:
'Python' + str(3)

'Python3'

In [26]:
# 시퀀스 객체 반복하기
print([1, 2, 3] * 3)
print(3 * [1, 2, 3])

[1, 2, 3, 1, 2, 3, 1, 2, 3]
[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [28]:
print((1, 2, 3) * 3)
print('python ' * 3)

(1, 2, 3, 1, 2, 3, 1, 2, 3)
python python python

In [29]:
range(1, 5) * 3

TypeError: unsupported operand type(s) for *: 'range' and 'int'

In [30]:
list(range(1, 5)) * 3

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [32]:
a = (11, 22, 33, 44, 55, 66, 77, 88, 99)
print(a[0:9:4])
print(a[::4])

(11, 55, 99)
(11, 55, 99)

## Dictionary

In [36]:
# ex 6-3
members = {'name': '안지영', 'age': 30, 'email': 'jiyoung@korea.com'}

print(members)
print(members['name'])
print(members['age'])

print('길이 : %d' % len(members))

{'name': '안지영', 'age': 30, 'email': 'jiyoung@korea.com'}
안지영
30
길이 : 3

In [41]:
# ex 6-4
name = '안진영'
scores = {'kor': 95, 'eng': 85, 'math': 90, 'science': 80}
print(scores)

scores['kor'] = 70
print(scores['kor'])

scores['music'] = 100
print(scores)

del scores['science']
print(scores)

print('이름 : %s' % name)
print('국어 : %d' % scores['kor'])
print('영어 : %d' % scores['eng'])
print('수학 : %d' % scores['math'])

{'kor': 95, 'eng': 85, 'math': 90, 'science': 80}
70
{'kor': 70, 'eng': 85, 'math': 90, 'science': 80, 'music': 100}
{'kor': 70, 'eng': 85, 'math': 90, 'music': 100}
이름 : 안진영
국어 : 70
영어 : 85
수학 : 90

In [44]:
# ex 6-5
phones = {'갤럭시 노트8': 2017,  '갤럭시 S9': 2018, '갤럭시 노트10': 2019, '갤럭시 S20': 2020}
print(phones)

for key in phones:
    print('%s => %s' % (key, phones[key]))
print(len(phones))

{'갤럭시 노트8': 2017, '갤럭시 S9': 2018, '갤럭시 노트10': 2019, '갤럭시 S20': 2020}
갤럭시 노트8 => 2017
갤럭시 S9 => 2018
갤럭시 노트10 => 2019
갤럭시 S20 => 2020
4

In [45]:
lux = {'health': 490, 'health': 800, 'mana': 334, 'melee': 550, 'armor': 18.72}

In [46]:
lux

{'health': 800, 'mana': 334, 'melee': 550, 'armor': 18.72}

In [49]:
lux1 = dict(health=490, mana=334, melee=550, armor=18.72)
lux1

{'health': 490, 'mana': 334, 'melee': 550, 'armor': 18.72}

In [51]:
lux2 = dict(zip(['health', 'mana', 'melee', 'armor'], [490, 334, 550, 18.72]))
lux2

{'health': 490, 'mana': 334, 'melee': 550, 'armor': 18.72}

In [52]:
lux3 = dict([('health', 490), ('mana', 334), ('melee', 550), ('armor', 18.72)])
lux3

{'health': 490, 'mana': 334, 'melee': 550, 'armor': 18.72}

In [53]:
# key값이 딕셔너리 안에 있는지
'health' in lux

True

In [54]:
# 딕셔너리 안에 딕셔너리
terrestrial_planet = {
    'Mercury': {
        'mean_radius': 2439.7,
        'mass': 3.3022E+23,
        'orbital_period': 87.969
    },
    'Venus': {
        'mean_radius': 6051.8,
        'mass': 4.8676E+24,
        'orbital_period': 224.70069,
    },
    'Earth': {
        'mean_radius': 6371.0,
        'mass': 5.97219E+24,
        'orbital_period': 365.25641,
    },
    'Mars': {
        'mean_radius': 3389.5,
        'mass': 6.4185E+23,
        'orbital_period': 686.9600,
    }
}
 
print(terrestrial_planet['Venus']['mean_radius'])    # 6051.8

6051.8

In [55]:
## 집합(Set)
fruits = {'strawberry', 'grape', 'orange', 'pineapple', 'cherry'}
fruits

{'cherry', 'grape', 'orange', 'pineapple', 'strawberry'}

In [56]:
fruits = {'orange', 'orange', 'cherry'}
fruits

{'cherry', 'orange'}