# Chapter 07. 함수

In [1]:
# ex 7-1
def hello():
    print('안녕하세요.')
    
hello()

안녕하세요.

In [3]:
# ex 7-2
def even_odd(number):
    if number % 2 == 0:
        print(number, '짝수')
    else:
        print(number, '홀수')
        
even_odd(7)
even_odd(4)

7 홀수
4 짝수

In [4]:
def add_sub(num1, num2):
    print('덧셈', num1+num2)
    print('뺄셈', num1-num2)
    
add_sub(2, 3)

덧셈 5
뺄셈 -1

In [5]:
# ex 7-3
def favorate_color(name, color, amount) :
    if (amount == 1) :
        print('%s님은 %s을 좋아하지 않습니다.' % (name, color))
    elif (amount == 2) :
        print('%s님은 %s을 조금 좋아합니다.' % (name, color))
    else :
        print('%s님은 %s을 매우 좋아합니다.' % (name, color))

favorate_color('김지영', '빨강', 1)
favorate_color('홍채영', '노랑', 2)
favorate_color('진소진', '파랑', 3)

김지영님은 빨강을 좋아하지 않습니다.
홍채영님은 노랑을 조금 좋아합니다.
진소진님은 파랑을 매우 좋아합니다.

In [6]:
# ex 7-4
def average(*scores):
    print(scores)
    sum = 0
    for score in scores:
        sum += score
    avg = sum / len(scores)
    print('%d과목의 평균 : %.2f' % (len(scores), avg))

In [8]:
average(80, 90, 100)

(80, 90, 100)
3과목의 평균 : 90.00

In [9]:
average(80, 73, 76, 86, 82)

(80, 73, 76, 86, 82)
5과목의 평균 : 79.40

In [10]:
# ex 7-7
def circle(radius):
    area = 3.14 * radius * radius
    return area

In [11]:
radius = int(input('원의 반지름을 입력하세요 : '))
result = circle(radius)
print('반지름 : %d, 원의 면적 : %.2f' % (radius, result))

원의 반지름을 입력하세요 : 5
반지름 : 5, 원의 면적 : 78.50

In [12]:
def new_circle(radius):
    area = 3.14 * radius * radius
    circum = 2 * 3.14 * radius
    return area, circum

In [13]:
radius = int(input('원의 반지름을 입력하세요 : '))
res1, res2 = new_circle(radius)
print('반지름 : %d, 원의 면적 : %.2f, 원의 둘레 : %.2f' % (radius, res1, res2))

원의 반지름을 입력하세요 : 5
반지름 : 5, 원의 면적 : 78.50, 원의 둘레 : 31.40

In [14]:
# Keyword형 인수
def personal_info(name, age, address):
    print('이름: ', name)
    print('나이: ', age)
    print('주소: ', address)

In [15]:
personal_info('홍길동', 30, '서울시 용산구 이촌동')

이름:  홍길동
나이:  30
주소:  서울시 용산구 이촌동

In [16]:
personal_info(age=30, address='서울시 용산구 이촌동', name='홍길동')

이름:  홍길동
나이:  30
주소:  서울시 용산구 이촌동

In [17]:
# dictionary unpacking
x = {'name': '홍길동', 'age': 30, 'address': '서울시 용산구 이촌동'}
personal_info(**x)

이름:  홍길동
나이:  30
주소:  서울시 용산구 이촌동

In [18]:
# tuple unpacking
y = (70, 80, 90, 95)
average(*y)

(70, 80, 90, 95)
4과목의 평균 : 83.75

In [19]:
# 키워드형 가변인수
def personal_info(**kwargs):
    for kw, val in kwargs.items():
        print(kw, ': ', val, sep='')

In [20]:
x = {'name': '홍길동', 'age': 30, 'address': '서울시 용산구 이촌동'}
personal_info(**x)

name: 홍길동
age: 30
address: 서울시 용산구 이촌동

In [21]:
# 위치형 가변인수 + 키워드형 가변인수
def custom_print(*args, **kwargs):
    print(*args, **kwargs)

In [23]:
custom_print(1, 2, 3, sep=':', end='='*10)

1:2:3==========

In [24]:
# Q 7-1. 함수로 정수 합계 구하기
def sum(start, end) :
    total = 0
    for i in range(start, end+1) :
        total += i
    print('%d ~ %d의 정수 합계 : %d' % (start, end, total))

sum(10, 100) 
sum(100, 1000) 
sum(1000, 10000)

10 ~ 100의 정수 합계 : 5005
100 ~ 1000의 정수 합계 : 495550
1000 ~ 10000의 정수 합계 : 49505500

In [25]:
# Q 7-2. 함수로 배수 합계 구하기
def sum_multiple(n1, n2, num) :    
    sum = 0
    for i in range(n1, n2+1) :
        if i % num == 0 :
            sum += i
    return sum

start = int(input('시작 수를 입력하세요: ')) 
end = int(input('끝 수를 입력하세요: ')) 
multiple = int(input('합계를 구할 배수를 입력하세요: '))

result = sum_multiple(start, end, multiple)

print('%d ~ %d의 정수 중 %d의 배수의 합 : %d' % (start, end, multiple, result))

시작 수를 입력하세요: 10
끝 수를 입력하세요: 100
합계를 구할 배수를 입력하세요: 5
10 ~ 100의 정수 중 5의 배수의 합 : 1045

In [26]:
# Q 7-3. 함수로 최대공약수 구하기
def computeGCM(x, y):
    if x > y:
        small = y
    else:
        small = x 

    for i in range(1, small+1):
        if((x % i == 0) and (y % i == 0)):
            result = i
            
    return result

num1 = int(input("첫 번째 수를 입력하세요: ")) 
num2 = int(input("두 번째 수를 입력하세요: "))

val_GCM = computeGCM(num1, num2)

print('%d과(와) %d의 최대공약수 : %d' % (num1, num2, val_GCM))

첫 번째 수를 입력하세요: 256
두 번째 수를 입력하세요: 342
256과(와) 342의 최대공약수 : 2

In [27]:
# 완전수(Perfect Number)
def sum_yaksu(n):
    sum = 0
    for i in range(1, n):
        if n % i == 0:
            sum += i
    return sum

In [34]:
for i in range(1, 10001):
    if i == sum_yaksu(i):
        print(i)

6
28
496
8128

## Scope Rule

In [37]:
# ex 7-10
def func() :
    xx = 10
    print(xx)

func()
print(xx)

10

NameError: name 'xx' is not defined

In [41]:
# ex 7-11
def func() :
    print(xxx)
    print(id(xxx))
    
xxx = 10
print(xxx)
print(id(xxx))
func()

10
140735204663984
10
140735204663984

In [42]:
# ex 7-13
def func() :
    global xxx
    xxx = 100
    print(xxx)
    print(id(xxx))
    
xxx = 10
print(xxx)
print(id(xxx))
func()
print(xxx)
print(id(xxx))

10
140735204663984
100
140735204666864
100
140735204666864

## File 입출력

In [44]:
# ex 7-14
file = open('sample.txt', 'w', encoding='utf8')
file.write('안녕하세요. 반갑습니다.')
file.close()
print('파일 쓰기 완료!')

파일 쓰기 완료!

In [45]:
file = open('sample.txt', 'a', encoding='utf8')
file.write('안녕하세요. 반갑습니다.')
file.close()

In [47]:
# ex 7-15
scores = ['김소영 82 80 93 97 93 88',
           '정예린 86 100 93 86 90 77',
           '이세영 91 88 99 79 92 68',
           '정수정 86 100 93 89 92 93',
           '박지수 80 100 95 89 90 84']
data = ''
for item in scores :
    data += item + '\n'

# 화면 출력하기    
print(data)

# 파일(scores.txt)에 저장하기
file = open('scores.txt', 'w', encoding='utf8' )
file.write(data)
file.close()

김소영 82 80 93 97 93 88
정예린 86 100 93 86 90 77
이세영 91 88 99 79 92 68
정수정 86 100 93 89 92 93
박지수 80 100 95 89 90 84

In [49]:
# ex 7-16
file = open('scores.txt', 'r', encoding='utf8')
lines = file.readlines()

print('scores.txt 파일의 내용 : ')
for line in lines :
    print(line, end='')
    
file.close()
print(lines)

scores.txt 파일의 내용 :
김소영 82 80 93 97 93 88
정예린 86 100 93 86 90 77
이세영 91 88 99 79 92 68
정수정 86 100 93 89 92 93
박지수 80 100 95 89 90 84
['김소영 82 80 93 97 93 88\n', '정예린 86 100 93 86 90 77\n', '이세영 91 88 99 79 92 68\n', '정수정 86 100 93 89 92 93\n', '박지수 80 100 95 89 90 84\n']